.vista-button {
	-fx-background-color: #0078D7;
	-fx-text-fill: white;
    -fx-background-radius: 5; /* Rounded corners */
    -fx-border-radius: 5; /* Rounded corners for border */
    -fx-border-color: #1ab3ff; /* Light gray border */
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 13, 0, 0, 1); /* Subtle shadow */
}

/* Hover effect */
.vista-button:hover {
    -fx-background-color: #005A9E;
}

/* Focused effect */
.vista-button:focused {
    -fx-border-color: #4a90e2; /* Light blue focus ring */
}